* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    height: 180vh;
    justify-content: center;
}

.body_pred {
    background: url('/static/images/lake-192990_1280.jpg') no-repeat;
    backdrop-filter: blur(3px) grayscale(0.8) opacity(0.9);
    display: flex;
    background-size: cover;
    background-position: center;
}

.register_page{
    margin: 50px;
    min-width: 80vh;
}

.title_form {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: 1px underline;
    text-underline-position: under;
}

.form{
    border-radius: 15px;
    position: relative;
    z-index: 1;
    background: #ffff;
    margin: 20px;
    padding: 45px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

form {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

form label {
    font-size: large;
}

.form input{
    outline: 1;
    background: #f2f2f2;
    width: 80%;
    border: 0.5px solid rgb(187, 187, 187);
    border-radius: 5px;
    margin: 0 15px 10px 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.form-group {
    text-align: center;
}

.btn-primary{
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: cornflowerblue;
    border: 2px solid midnightblue;
    padding: 10px 15px;
}

.btn-primary:hover{
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(10, 10, 79);
    padding: 10px 15px;
}

.btn_box {
    height: 5em;
}

.div_btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin : 25px auto 0 auto;
    right: 50%;
    transform: translate(50%,-25%);
}